<ul class="sdg-content-menu">
  <li class="<%= "is-active" if sdg? %>">
    <%= link_to sdg_management_goals_path do %>
      <span class="icon-sdg"></span>
      <strong><%= t("sdg_management.menu.sdg_content") %></strong>
    <% end %>
  </li>

  <% SDG::Related::RELATABLE_TYPES.each do |type| %>
    <%= relatable_list_item(type) do %>
      <span class="icon-<%= table_name(type) %>"></span>
      <strong><%= t("sdg_management.menu.#{table_name(type)}") %></strong>
    <% end %>
  <% end %>
</ul>
